@model MarkaBookStore.Models.Category
@{
    ViewData["Title"] = "Create";
}

<form method="post">

    <fieldset>
        
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h3 class="text-primary"> Create Catefory </h3>
                <hr />
            </div>
            @*<div asp-validation-summary="All">*@

            @*</div>*@
            <div class="mt-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">
                </span>
            </div>

            <div class="mt-3">
                <label asp-for="DisplayOrder"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger">
                </span>
            </div>

            <div class="p-3">
                <button type="submit" class="btn btn-primary m-2" style="width: 250px">Create Category </button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary m-2" style="width: 250px">Back to List </a>

            </div>
            
        </div>
    </fieldset>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }	
}


